%section#about
	.about-images.hide-on-responsive
		.image
			#image-about-1
			#image-about-2
		.image
			#image-about-3
			#image-about-4

	.box-text
		.title-section
			%a
				Cálido
				%br
				e Inigualable

		.text-section
			%p Convención Hotel Boutique, está constituido por un elegante edificio que encanta con su diseño arquitectónico, gracias a su excelente ubicación, posee una esplendida vista panorámica a nuestras imponente Cordillera de los Andes.
			%p Este nuevo concepto hotelero, se enfoca en una clientela corporativa de desarrollo de eventos, así como a todos los gustos individuales, grupales familiares, que deseen encontrarse con instalaciones modernas y exclusivas, cálida y confort.
			%p Nuestra misión  es prestar un servicio personalizado, de manera que el huésped se sienta como en casa.
			%p Al alojarse en el Convención Hotel Boutique nuestros huéspedes podrán disfrutar durante su estadía de los siguientes servicios:
			%span -
			Internet Inalámbrico en todas las áreas del Hotel caja de seguridad
			%br/
			%span -
			Business Center
			%br/
			%span -
			Sauna y Spa
			%br/
			%span -
			Red de seguridad integrada
			%br/
			%span -
			Estacionamiento privado
			%br/
			%span -
			Room Service
			%br/
			%span -
			Restaurante El Encuentro y Resto bar Les Golfes.
			%br/
			%span -
			Cinco salones para Eventos

			%li
				= link_to "https://www.tripadvisor.com.ve/Hotel_Review-g316050-d7710858-Reviews-Convencion_Hotel_Boutique-Merida_Andean_Region.html" do
					ESCRIBE UNA OPINIÓN



	.about-images.show-on-responsive
		.image
			#image-about-1
			#image-about-2
		.image
			#image-about-3
			#image-about-4
