%section#aliances
  .center
    .aliances-title
      Estos son nuestros aliados
  .aliances-caroucel
    - @aliances.each do |aliance|
      = link_to aliance.external_link, target: "_blank" do
        .aliance-item
          .center
            = image_tag aliance.image, width: "150"

:javascript
  $(".aliances-caroucel").slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true
  });
