%section#contacts
	.events
		El Hotel cuenta con cinco salones para eventos. Dos salones multiusos en planta baja, con capacidad de 30 a 50 personas, donde se adapta el montaje de acuerdo a la necesidad del cliente. Además de 3 salones ubicados en el piso 4. Un salón con montaje tipo escuela con capacidad máxima de 25 personas. Un salón con montaje mesa Oval para 20 personas. Y el Ballroom con capacidad máxima de 450 personas.


		%li
			= link_to new_event_path do
				PLANIFICAR EVENTO
	.banner-events
