%section#rooms

	.box-text
		.title-section
			%a Para clientes que buscan confort y buen gusto

		.text-section
			%p
				El Hotel cuenta con 114 habitaciones y suites. En cada una ofrece un estilo minimalista y moderno; con acogedores colores, cumplen con un diseño actual, que permitirá a nuestros Huéspedes un máximo confort en sus viajes de negocios o placer a la ciudad de Mérida.
			%p
				Actualmente contamos con 4 tipos de habitaciones distribuidas en tres pisos. Que van entre 23 m2 a 39 m2.
			%p{style: "font-weight: 900;margin-bottom: 0px; margin-top: 20px;"}
				Entrada: 03:00 P.M, Check out: 01:00 P.M
			%p{style: "font-weight: 900;margin-bottom: 0px;"}
				Internet de alta velocidad Wi-Fi en todas las habitaciones
			%p{style: "font-weight: 900;margin-bottom: 0px;"}
				Televisión plasma de 32'' con Directv
			%p{style: "font-weight: 900;margin-bottom: 20px;"}
				Desayunos disponibles desde las 7:00 A.M a 10:00 A.M
			%p{style: "font-weight: 900;margin-bottom: 0px;"}
				(+58 414) 702 3988 / (+58 274 ) 240 5311
			%p{style: "font-weight: 900;margin-bottom: 40px;"}
				reservas@convencionhb.com

			%li
				= link_to new_reservation_path do
					RESERVAR

	.rooms-gallery
		- @rooms.each_with_index do |room, x|
			.col-room{id: "col-room-#{x+1}", style: "background-image: url(#{room.cover});"}
				.mask-rooms{id: "room-#{x+1}"}
					.content-room
						= room.name
						%br
						%li
							= link_to "/habitaciones/#{room.permalink}" do
								VER MÁS
