#survey.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %button.close.banner-close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h3
        %center La encuesta ha sido enviada

      %p{ style: 'text-align: center;' }
        Estimado cliente, su opinión es importante para nosotros, muchas gracias por responder nuestra encuesta y permitirnos brindar un mejor servicio cada vez.

      %p{ style: 'text-align: center;' }
        Visita nuestro perfil en TripAdvisor y comparte tu opinión.
      %p{ style: 'text-align: center;' }
        = link_to 'Ir al perfil', 'https://www.tripadvisor.com.ve/Hotel_Review-g316050-d7710858-Reviews-Convencion_Hotel_Boutique-Merida_Andean_Region.html', target: '_blank', class: 'btn btn-tripadvisor'
