= render "home"
= render "about"
= render "rooms"
= render "aliances"
= render "contacts"

- if @banner.try(:image)
  = render "frontend/banners_modal"
- if params[:encuesta]
  = render "frontend/survey_modal"
  :javascript
    $('#survey.modal').modal('show')
:javascript
  $('#banners').modal('show')

/ Start of Tawk.to Script
:javascript
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5a58d934d7591465c706b1b0/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
/ End of Tawk.to Script
:css
  .slick-prev {
    left: 0px !important;
  }
  .slick-next {
    right: 0px !important;
  }