.banner#banner-merida
%section#restaurants{style: "padding-top: 80px;"}
	.merida-images
		.image
			#image-merida-1
			#image-merida-2
		.image
			#image-merida-3
			#image-merida-4

	.box-text
		.title-section
			%a Destino Mérida

		.text-section
			%p
				Venezuela, un país situado en el trópico, tiene la suerte de contar con una extremidad de la cordillera de los Andes. Con varios picos que sobrepasan los 4000 metros, los Andes venezolanos ofrecen paisajes y ambientes realmente atractivos, convirtiendo a esta región en uno de los polos turísticos del país.
			%p
				Si buscas un hermoso destino, Mérida es uno de los mejores, con su excelente clima, sus hermosos pueblecitos anclados en el tiempo, es como regresar el tiempo, hermosos paisajes, Cuidad de los caballeros, Turística y Estudiantil de Venezuela, privilegiada por su nieves eternas, que hoy en día cuenta  con el teleférico más sofisticado que lo hacen el  más largo y alto del mundo, que le permite ver los maravillosos  escenarios de el parque nacional sierra nevada.


	.merida-images.show-on-responsive
		.image
			#image-merida-5
			#image-merida-6
		.image
			#image-merida-7
			#image-merida-8

%section#restaurants
	.box-text
		.title-section
			%a ¡Al elegirnos debes recordar!

		.text-section
			%p
				Usar ropa cómoda sin olvidar tu abrigo.
			%p
				Al subir al teleférico recuerde un buen abrigo, zapatos deportivos,  guantes y gorro. Desayunar bien, y no falte una barra de chocolate.
			%p
				Mérida  implica caminar por sus maravillosos paisajes  más de lo usual, te recomendamos llevar unos zapatos cómodos.
			%p
				Antes del viaje descansa lo suficiente, de manera de evitar que te de fatiga o sueño.
			%p
				En caso de alguna duda los Módulos información al   turista están para ayudarte.
			%p
				Recuerde comprar las entradas a los diferentes sitios de interés turísticos.
			%p
				Utilice protección contra el sol durante sus excursiones en el páramo, también lleve consigo suficiente agua.
			%p
				Los merideños son gente sencilla y de gran apego a las tradiciones. Respete las costumbres locales.

	.merida-images.hide-on-responsive
		.image
			#image-merida-5
			#image-merida-6
		.image
			#image-merida-7
			#image-merida-8
