%section#restaurants{style: "padding-top: 80px;"}
	.venitalia-images
		.image
			#image-venitalia-1
			#image-venitalia-2
		.image
			#image-venitalia-3
			#image-venitalia-4

	.box-text
		.title-section
			%a Restaurant
			%br
			%a Venitalia

		.text-section
			%p
				Nacido en las majestuosas sierras andinas, Venitalia Restaurante se ubica en nuestro lobby,  siendo el lugar predilecto para nuestros visitantes, Venitalia se complace en atender a los más exigentes paladares que degustan su tradicional gastronomía venezolana y su excelente cocina italiana de familia.
			%p
				Venitalia se complace en recibirlos, para ofrecerles inigualables experiencias, distinguidas atenciones, sublimes sensaciones al paladar y para hacerles sentir como en casa…
			%p
				Los diversos servicios y facilidades que ofrece Venitalia Restaurante, incluyen: servicio de menús para eventos corporativos y sociales, servicio de catering, eventos de coctelería y enología (vinos), talleres de cocina y asesorías para empresas prestadoras de servicios de alimentos y bebidas.
			%p
				Les esperamos para atenderles como se merece y con mucho gusto, de Miércoles a Lunes de 7:00am a 10:00pm.  Cerramos los días Martes y los Domingos inter semanal.
			%p
				Síguenos en Instagram como @venitaliarestaurante.
			%p
				Para contactarnos: venitaliarestaurante@gmail.com o a través del 0274 2441984

			-# = image_tag 'frontend/Landing/logo_venitalia.jpg', id: "encuentro"
			%img#venitalia{ src: "/assets/frontend/Landing/logo_venitalia.jpg", alt: "Logo venitalia" }

	.lesGolfes-images.show-on-responsive
		.image
			#image-lesGolfes-1
			#image-lesGolfes-2
		.image
			#image-lesGolfes-3
			#image-lesGolfes-4

%section#restaurants
	.box-text
		.title-section
			%a Les Golfes
			%br
			%a de Salioli

		.text-section
			%p
				Les Golfes de Salioli se reconoce por ser más que un GastroBar, una cita obligada, por su condición el diseño de interiores, una terraza con increíble vista de 360º a los picos de nuestra Cordillera Andina, el mimo con que se presentan y por supuesto su excepcional cocina mediterránea. Perseguimos un concepto de cocina, donde el qué comer es muy importante pero también lo es el dónde y el con quién… 
			%p
				Una fusión de sabores desde Catalunya, Italia, Francia, hasta esta nuestra tierra. Una cocina de proximidad con productos de la zona, con el sazón de la mezcla de culturas, siempre con un mismo hilo conductor:
			%p
				[ Nos conmueve lo orgánico, ecológico, y la nutrición balanceada].
			%p
				Pueden seguirnos en instagram
				%span= link_to "@sal_i_oli", "https://www.instagram.com/sal_i_oli/"
				, facebook
				%span= link_to "/salioli salioli", "https://www.facebook.com/Salioli-Salioli-622135841257645"
				, twitter
				%span= link_to "@grupsalioli" , "https://twitter.com/grupsalioli"
				y contactarnos en
				%span= link_to "www.salioli.net" , "https://www.salioli.net"
				0414.0816861
			%p
				Los esperamos de lunes a jueves de 12m a 10pm (Miércoles de 7am a 10pm) y de viernes a sábado de 12m a 01pm.

			= image_tag 'frontend/Landing/logo_lesGolfes.jpg', id: "lesGolfes"

	.lesGolfes-images.hide-on-responsive
		.image
			#image-lesGolfes-1
			#image-lesGolfes-2
		.image
			#image-lesGolfes-3
			#image-lesGolfes-4
