.listing-show-header
	.actions
		- if can? :update, Aliance
			= link_to edit_aliance_path(@aliance), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%img{src: "#{@aliance.image}", width: "100%"}
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @aliance.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.external_link")
			.display-value= @aliance.external_link


:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
