%tr{ id: "row-#{aliance.id}" }
	- if can? :destroy_multiple, Aliance
		%td.item-check{style:"width: 10%"}
			= link_to "", aliance_path(aliance), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{aliance.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{aliance.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{aliance.id}" }

		%td{style:"width: 30%; height: 10px;"}
			= link_to "", aliance_path(aliance, search: @query), remote: true, class: "show-row"
			%span
				%img{src: "#{aliance.image}", width: "20%"}
		%td{style:"width: 30%"}
			= link_to "", aliance_path(aliance, search: @query), remote: true, class: "show-row"
			%span
				= aliance.name
		%td{style:"width: 30%"}
			= link_to "", aliance_path(aliance, search: @query), remote: true, class: "show-row"
			%span
				= aliance.external_link

	%td{style:"width: 5%"}
		= link_to aliance_path(aliance), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
