= title "Aliances | #{@aliance.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Aliance
				= link_to aliance_path(@aliance), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Aliance
				= link_to edit_aliance_path(@aliance), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to aliances_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			%image{src: "#{@aliance.image}", width: "300px"}
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @aliance.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.external_link")
					.display-value.fs-body-1.tc-black-2= @aliance.external_link.to_s.humanize
