%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    - if can? :index, Room
      %li
        = tab "Habitaciones", "hotel", main_app.rooms_path, "rooms"
    - if can? :index, Reservation
      %li
        = tab "Reservaciones de Habitaciones", "assignment", main_app.reservations_path, "reservations"
    - if can? :index, Event
      %li
        = tab "Reservación para eventos", "assignment", main_app.events_path, "events"
    - if can? :index, Banner
      %li
        = tab "Anuncios", "mms", main_app.banners_path, "banners"
    - if can? :index, Aliance
      %li
        = tab "Aliados", "favorite", main_app.aliances_path, "aliances"
    - if can? :index, Term
      %li
        = tab "Terminos y Condiciones", "gavel", main_app.terms_path, "terms"
    - if can? :index, Client
      %li
        = tab "Clientes", "group", main_app.clients_path, "clients"
    - if can? :index, Survey
      %li
        = tab "Encuestas", "insert_chart", main_app.surveys_path, "clients"
    - if can? :index, Survey
      %li
        = tab "Resultados de la encuesta", "assignment", main_app.result_surveys_path, "Surveys"
    - if can? :index, User
      %li
        = tab "Usuarios", "person", main_app.users_path, "users"

