.wrapper
	.wrapper-body.container
		.actions
			= link_to banners_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @banner do |f|
					.row
						= f.input :name
						= f.input :image, label: false
						= f.input :external_link
						= f.input :public, as: :checkbox_material

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
