= title "Banners | #{@banner.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Banner
				= link_to banner_path(@banner), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Banner
				= link_to edit_banner_path(@banner), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to banners_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @banner.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.external_link")
					.display-value.fs-body-1.tc-black-2= @banner.external_link.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.public")
					.display-value.fs-body-1.tc-black-2= @banner.public.to_s.humanize
			.card-image
				=  image_tag @banner.image
