.wrapper
	.wrapper-body.container
		.actions
			= link_to clients_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @client do |f|
					.row
						= f.input :documentation
						= f.input :name
						= f.input :company
						= f.input :email
						= f.input :telephone

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
