%tr{ id: "row-#{client.id}" }
	- if can? :destroy_multiple, Client
		%td.item-check{style:"width: 10%"}
			= link_to "", client_path(client), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{client.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{client.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{client.id}" }

	%td{style:"width: 30%"}
		= link_to "", client_path(client, search: @query), remote: true, class: "show-row"
		%span
			= client.documentation
	%td{style:"width: 30%"}
		= link_to "", client_path(client, search: @query), remote: true, class: "show-row"
		%span
			= client.name
	%td{style:"width: 30%"}
		= link_to "", client_path(client, search: @query), remote: true, class: "show-row"
		%span
			= client.company
	%td{style:"width: 30%"}
		= link_to "", client_path(client, search: @query), remote: true, class: "show-row"
		%span
			= client.email
	%td{style:"width: 30%"}
		= link_to "", client_path(client, search: @query), remote: true, class: "show-row"
		%span
			= client.telephone

	%td{style:"width: 5%"}
		= link_to client_path(client), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")