.banner#banner-events

#form-reservation

  - unless @event.errors[:base].empty?
    %div.alert.alert-danger.form-alert{ onclick: "hideFormAlert();" }
      %div
        Para continuar debe llenar correctamente el formulario.
        - @event.errors[:base].each_with_index do |e,i|
          - if i <= 4
            %p{style: 'margin-bottom: 0;'}= "- #{e}"

  .container-bamboo
    .container.contacto-container

      = simple_form_for @event, url: create_events_path do |f|
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              %a DATOS PERSONALES
            = f.simple_fields_for :client do |c|
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :name, label: false, :placeholder=> "NOMBRE Y APELLIDO (REQUERIDO)"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :documentation, label: false, :placeholder=> "CÉDULA/RIF (REQUERIDO)"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :company, label: false, :placeholder=> "NOMBRE DE LA EMPRESA"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :particular, label: false, :placeholder=> "PARTICULAR"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :agency, label: false, :placeholder=> "AGENCIA"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :email, label: false, :placeholder=> "CORREO ELECTRÓNICO"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :telephone, label: false, :placeholder=> "TELÉFONO"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :city, label: false, :placeholder=> "CIUDAD"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = c.input :country, as: :country, label: false, :include_blank=> "PAIS"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .field
                  = f.input :date_event, label: false, :placeholder=> "FECHA DEL EVENTO" , as: :string, input_html: {class: "datepicker"}

          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              %a DATOS DEL EVENTO
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .field
                = f.input :event_type, label: false, :placeholder=> "TIPO DE EVENTO"
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .field
                = f.input :color_theme, label: false, :placeholder=> "COLORES/MOTIVO"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.input :quantity, label: false, :placeholder=> "CANTIDAD DE PERSONAS"

            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              = f.input :begin_date, label: false, placeholder: "FECHA DE INICIO", as: :string, input_html: {class: "datepicker", id: "checkin" }
            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              = f.input :end_date, label: false, placeholder: "FECHA DE FIN", as: :string, input_html: {class: "datepicker", id: "checkout"}
            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              .field
                = f.time_select :begin_time, { :combined => true, prompt: "HORA DE INICIO", :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true  }, { class: "select_time" }
            .col-lg-3.col-md-3.col-sm-6.col-xs-6
              .field
                = f.time_select :end_time, { :combined => true, prompt: "HORA DE FIN", :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true }, { class: "select_time" }
            %br.hidden-xs.hidden-md
            %br.hidden-xs.hidden-md
            %br.hidden-xs.hidden-md
            %br.hidden-xs.hidden-md
            %br.hidden-xs.hidden-md

          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              %a TIPO DE MONTAJE
            .btn-group{"data-toggle" => "buttons"}
              %center
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-1
                        = f.radio_button :assembly_type, "Auditorio"
                    %p Auditorio
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-2
                        = f.radio_button :assembly_type, "Reunion"
                    %p Reunión
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-3
                        = f.radio_button :assembly_type, "Tipo 'U'"
                    %p Tipo 'U'
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-4
                        = f.radio_button :assembly_type, "Banquete"
                    %p Banquete
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-5
                        = f.radio_button :assembly_type, "Escuela"
                    %p Escuela
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-6
                        = f.radio_button :assembly_type, "Coctel"
                    %p Coctel
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .field
                = f.text_area :event_description, :placeholder=> "DESCRIPCIÓN DE EVENTO", style: "margin-bottom: 0;"
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              %a ALIMENTOS & BEBIDAS:

            .col-lg-3.col-md-3
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :morning_coffeebreak
                    %p
                      %label Coffee Break Matutino
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :evening_coffeebreak
                    %p
                      %label Coffee Break Vespertino
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :coffee_station
                    %p
                      %label Estación de Café
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :hidra_station
                    %p
                      %label Estación de Hidratación
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :cold_snacks
                    %p
                      %label Pasapalos Frios

            .col-lg-3.col-md-3
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :hot_snacks
                    %p
                      %label Pasapalos Calientes
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :buffet_breakfast
                    %p
                      %label Buffet de Desayuno
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :buffet_lunch
                    %p
                      %label Buffet de Almuerzo
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :buffet_dinner
                    %p
                      %label Buffet de Cena
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :close_lunch
                    %p
                      %label Menú Cerrado de Almuerzo

            .col-lg-3.col-md-3
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :close_dinner
                    %p
                      %label Menú Cerrado de Cena
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :theme_stations
                    %p
                      %label Estaciones Temáticas
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :cheese_table
                    %p
                      %label Mesa de Quesos
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :uncorking_coctels
                    %p
                      %label Descorche de Cocteles
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :uncorking_whisky
                    %p
                      %label Descorche de Whisky
            .col-lg-3.col-md-3
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :uncorking_wine
                    %p
                      %label Des. Vino/Champagne
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :uncorking_vodka
                    %p
                      %label Des. Vodka/Ron
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :coctel_bar
                    %p
                      %label Barra Coctelera
              .col-lg-12
                .field
                  %label.btn.btn-check
                    = f.check_box :sodas
                    %p
                      %label Refrescos
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .field#theme_description{style: "margin-top: 30px; display: none;"}
                = f.text_area :theme_description, :placeholder=> "DESCRIPCIÓN DE LA TEMATICA", style: "margin-bottom: 0;"

          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .title-form
              %a DECORACIÓN DEL EVENTO:
            .row
              .col-lg-3.col-md-3
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :circle_table
                      %p
                        %label Mesa Redonda
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :square_table
                      %p
                        %label Mesa Cuadrada
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :big_table
                      %p
                        %label Mesón Presidio
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :sound
                      %p
                        %label Sonido
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :videobeam
                      %p
                        %label Videobeam
              .col-lg-3.col-md-3
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :screen_display
                      %p
                        %label Pantalla de Proyección
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :wire_micro
                      %p
                        %label Micrófono Alámbrico
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :wireless_micro
                      %p
                        %label Mircófono Inalámbrico
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :porfolio
                      %p
                        %label Portafolio
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :laptop
                      %p
                        %label Laptop
              .col-lg-3.col-md-3
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :tarima
                      %p
                        %label Tarima
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :podium
                      %p
                        %label Podium
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :lights
                      %p
                        %label Iluminación
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :dj
                      %p
                        %label Dj
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :musical_group
                      %p
                        %label Grupo Musical
              .col-lg-3.col-md-3
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :crazy_hour
                      %p
                        %label Hora Loca
                .col-lg-12
                  .field
                    %label.btn.btn-check
                      = f.check_box :flower_arrengements
                      %p
                        %label Arreglos Florales

            %br
            %br
            .row{style: ""}
              .title-form
                %a ¿NECESITAS HABITACIONES?
              - Room.all.each_with_index do |room, i|
                .room-checks.col-lg-2.col-md-2.col-sm-6.col-xs-6
                  = f.simple_fields_for :events_rooms, @event.events_rooms.build do |r|
                    %a.btn.btn-room{onclick: "quantity(#{room.id})"}
                      #image-room{class: "check-#{room.name}", style: "background-image: url(#{room.cover});"}
                        = r.input :room_id, label: false, :collection => [[room.name, room.id]], :as => :check_boxes, include_hidden: false, input_html: { name: "event[events_rooms_attributes][#{room.id}][room_id]", id: "reservation_orders_attributes_#{room.id}_room_id_#{room.id}"}
                      .image-room-mask{id: "mask-#{room.id}"}
                        %p
                          = room.name
                    .quantity{id: "id-#{room.id}"}
                      = r.input :quantity, label:false, placeholder: "Cantidad", input_html: {name: "event[events_rooms_attributes][#{room.id}][quantity]"}

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .title-form
                %a OTROS SERVICIOS
              .field
                = f.text_area :other_services, id: 'textarea-6'
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .title-form
                %a OBSERVACIONES
              .field
                = f.text_area :observations, id: 'textarea-6'
            %br
            %center
              Al presionar el botón "RESERVAR" estas aceptando todos nuestros
              = link_to "terminos y condiciones", "#", "data-target" => "#events-conditions", "data-toggle" => "modal"
              = render "events/events_conditions"
              %br
              %br
            .form-actions
              = f.button :submit, "RESERVAR", class: "btn btn-save", id: "btn-submit" , style: "width: auto;"

:javascript
  $("#event_theme_stations").click(function(){
    $("#theme_description").toggle();
  })
