= title "events | #{@event.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Event
				= link_to event_path(@event), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Event
				= link_to edit_event_path(@event), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to events_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.panel-body#body-show.order-event-show
			.container
				%table.table.table-bordered
					%tr
						%th Nombre
						%th Cedula/rif
						%th Empresa
						%th Particular
						%th Agency
					%tr
						%td= @event.client.name.humanize
						%td= @event.client.documentation
						%td= @event.client.company.humanize
						%td= @event.client.particular
						%td= @event.client.agency
					%tr
						%th Email
						%th Teléfono
						%th Ciudad
						%th Pais
						%th Fecha de Solicitud
					%tr
						%td= @event.client.email.downcase
						%td= @event.client.telephone
						%td= @event.client.city
						%td= @event.client.country
						%td= @event.date_event
					%tr
						%th{colspan: "3"} Tipo de evento
						%th{colspan: "3"} Colores/motivo
					%tr
						%td{colspan: "3"}= @event.event_type.humanize
						%td{colspan: "3"}= @event.color_theme.humanize
					%tr
						%th N° de Invitados
						%th Fecha de Inicio
						%th Fecha de Culminación
						%th Hora de Inicio
						%th Hora de Culminación
						%th Tipo de Montaje
					%tr
						%td= "#{@event.quantity} Personas"
						%td= @event.begin_date
						%td= @event.end_date
						%td= @event.begin_time
						%td= @event.end_time
						%td= @event.assembly_type
					%tr
						%th{colspan: "6"} Descripción del evento
					%tr
						%td{colspan: "6"}= @event.blank(@event.event_description)
					%tr
						%th{colspan: "6"} Alimentos & Bebidas
					%tr
						%th Pasapalos Fríos
						%th Pasapalos Caliente
						%th Buffet de Desayuno
						%th Buffet de Almuerzo
						%th Buffet de Cena
						%th Menú Plateado
					%tr
						%td
							%center= @event.chosen(@event.cold_snacks)
						%td
							%center= @event.chosen(@event.hot_snacks)
						%td
							%center= @event.chosen(@event.buffet_breakfast)
						%td
							%center= @event.chosen(@event.buffet_lunch)
						%td
							%center= @event.chosen(@event.buffet_dinner)
						%td
							%center= @event.chosen(@event.dish_menu)

					%tr
						%th Estaciones Temáticas
						%th Estación de Café
						%th Estacion de Hidratación
						%th Coffee Break Matutino
						%th Coffee Break Vespertino
						%th Mesa de Quesos
					%tr
						%td
							%center= @event.chosen(@event.theme_stations)
						%td
							%center= @event.chosen(@event.coffee_station)
						%td
							%center= @event.chosen(@event.hidra_station)
						%td
							%center= @event.chosen(@event.morning_coffeebreak)
						%td
							%center= @event.chosen(@event.evening_coffeebreak)
						%td
							%center= @event.chosen(@event.cheese_table)
					%tr
						%th Descorche de Cocteles
						%th Descorche de Whisky
						%th Descorche de Vino/Champagne
						%th Descorche de Vodka/Ron
						%th Barra Coctelera
						%th Refrescos
					%tr
						%td
							%center= @event.chosen(@event.uncorking_coctels)
						%td
							%center= @event.chosen(@event.uncorking_whisky)
						%td
							%center= @event.chosen(@event.uncorking_wine)
						%td
							%center= @event.chosen(@event.uncorking_vodka)
						%td
							%center= @event.chosen(@event.coctel_bar)
						%td
							%center= @event.chosen(@event.sodas)
					%tr
						%th Menú Cerrado de Almuerzo
						%th Menú Cerrado de Cena
					%tr
						%td
							%center= @event.chosen(@event.close_lunch)
						%td
							%center= @event.chosen(@event.close_dinner)
					%tr
						%th{colspan: "6"} Descripción de la Tematica
					%tr
						%td
							= @event.theme_description
					%tr
						%th
					%tr
						%th Arreglos Florales
						%th Globos
						%th Toldo
						%th Sonido
						%th Dj
						%th Grupo Musical
					%tr
						%td
							%center= @event.chosen(@event.flower_arrengements)
						%td
							%center= @event.chosen(@event.baloons)
						%td
							%center= @event.chosen(@event.toldo)
						%td
							%center= @event.chosen(@event.sound)
						%td
							%center= @event.chosen(@event.dj)
						%td
							%center= @event.chosen(@event.musical_group)
					%tr
						%th Podium
						%th Videobeam
						%th Iluminación
						%th Inflables
						%th Show de Magia
						%th Show de Baile
					%tr
						%td
							%center= @event.chosen(@event.podium)
						%td
							%center= @event.chosen(@event.videobeam)
						%td
							%center= @event.chosen(@event.lights)
						%td
							%center= @event.chosen(@event.inflatable)
						%td
							%center= @event.chosen(@event.magic_show)
						%td
							%center= @event.chosen(@event.dance_show)
					%tr
						%th Hora Loca
						%th Mesa Redonda
						%th Mesa Cuadrada
						%th Mesón Presidio
						%th Micrófono Alámbrico
						%th Micrófono Inalámbrico
					%tr
						%td
							%center= @event.chosen(@event.crazy_hour)
						%td
							%center= @event.chosen(@event.circle_table)
						%td
							%center= @event.chosen(@event.square_table)
						%td
							%center= @event.chosen(@event.big_table)
						%td
							%center= @event.chosen(@event.wire_micro)
						%td
							%center= @event.chosen(@event.wireless_micro)
					%tr
						%th Pantalla de Proyección
						%th Portafolio
						%th Laptop
						%th Tarima
					%tr
						%td
							%center= @event.chosen(@event.screen_display)
						%td
							%center= @event.chosen(@event.porfolio)
						%td
							%center= @event.chosen(@event.laptop)
						%td
							%center= @event.chosen(@event.tarima)
					%tr
						%th{colspan: "6"} Otros Servicios
					%tr
						%td{colspan: "6"}= @event.blank(@event.other_services)
					%tr
						%th{colspan: "6"} Observaciones Adicionales
					%tr
						%td{colspan: "6"}= @event.blank(@event.observations)
