.listing-show-header
	.actions
		- if can? :update, Reservation
			= link_to edit_reservation_path(@reservation), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @reservation.client.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.documentation")
			.display-value= @reservation.client.documentation
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @reservation.client.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.telephone")
			.display-value= @reservation.client.telephone
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.checkin")
			.display-value= @reservation.checkin.strftime("%d-%m-%Y")
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.checkout")
			.display-value= @reservation.checkout.strftime("%d-%m-%Y")
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.adults")
			.display-value= @reservation.adults
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.kids")
			.display-value= (@reservation.kids.blank? or @reservation.kids.zero?) ? "N/A" : @reservation.kids
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.babies")
			.display-value= (@reservation.babies.blank? or @reservation.babies.zero?) ? "N/A" : @reservation.babies
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.origin")
			.display-value= @reservation.origin
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.motive")
			.display-value= @reservation.motive
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.payment")
			- if @reservation.payment == 1
				.display-value Tarjeta de crédito
			- elsif @reservation.payment == 2
				.display-value Depósito o Transferencia
			- else
				.display-value Efectivo
		%li.list-row
			.display-label Desayuno
			- if @reservation.breakfast
				Sí
			- else
				No

		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.observations")
			.display-value= @reservation.observations.blank? ? "N/A" : @reservation.observations

:javascript
	$('.tooltipped').tooltip({delay: 1});
