%tr{ id: "row-#{reservation.id}" }
	- if can? :destroy_multiple, Reservation
		%td.item-check{style:"width: 10%"}
			= link_to "", reservation_path(reservation), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{reservation.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{reservation.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{reservation.id}" }
		
		%td{style: "color: #{reservation.status(reservation.checkin.strftime("%d-%m-%Y"), reservation.checkout.strftime("%d-%m-%Y"))}"}
			= material_icon.md_24.access_time

		%td
			= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
			%span
				= reservation.client.name
		%td.hide-on-small-and-down
			= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
			%span
				= reservation.client.documentation
		%td.hide-on-small-and-down
			= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
			%span
				= reservation.client.telephone
		%td
			= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
			%span
				= reservation.created_at.strftime("%d-%m-%Y")
								
	%td{style:"width: 5%"}		
		= link_to reservation_path(reservation), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")