!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
  %body
    %h2{style: "font-family: 'Lato', sans-serif;"} Tu solicitud ha sido enviada, nos estaremos comunicando contigo.
    %div{style: "font-family: 'Lato', sans-serif;"}
      %div{style: "background:#A7A7A7;padding:10px;"}
        %h1{style: "color:#e2001a;text-align:center;"} Convención Hotel Boutique
      %div{style: "background:#e7e7e7;padding:5px;padding-left:10px;"}
        %h2{style: "color:#e2001a;"} Datos de registro de Reservación
      %div
        %table{border: "1", style: "width:100%;border:1px solid #A7A7A7;border-collapse:collapse;"}
          %tr{style: "background:#A7A7A7;"}
            %th Nombre
            %th Cedula/rif
            %th Email
            %th Teléfono
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.name.humanize
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.documentation
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.email.downcase
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.client.telephone

          %tr{style: "background:#A7A7A7;"}
            %th N° de Adultos
            %th N° de Niños
            %th N° de bebés
            %th Motivo de Visita
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.adults
            %td{style: "padding-left: 10px;"}
              %center= (@reservacion.kids.blank? or @reservacion.kids.zero?) ? "N/A" : @reservacion.kids
            %td{style: "padding-left: 10px;"}
              %center= (@reservacion.babies.blank? or @reservacion.babies.zero?) ? "N/A" : @reservacion.babies
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.motive

          %tr{style: "background:#A7A7A7;"}
            %th Lugar de Origen
            %th Check-In
            %th Check-Out
            %th Forma de Pago
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.origin
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.checkin.strftime("%d-%m-%Y")
            %td{style: "padding-left: 10px;"}
              %center= @reservacion.checkout.strftime("%d-%m-%Y")
            %td{style: "padding-left: 10px;"}
              %center
                - if @reservacion.payment == 1
                  Tarjeta de crédito
                - elsif @reservacion.payment == 2
                  Depósito o Transferencia
                - else
                  Efectivo
          %tr{style: "background:#A7A7A7;"}
            %th{ colspan: '4' , style: "background:#A7A7A7;"} Observaciones
          %tr
            %td{ colspan: '4', style: "text-align: center;" }
              = @reservacion.observations.blank? ? "N/A" : @reservacion.observations

          %tr{style: "background:#A7A7A7;"}
            %th{ colspan: '2' }
              Habitación
            %th{ colspan: '1' }
              Cantidad
            %th{ colspan: '1' }
              Precio
          %tr
            - @reservacion.orders.each do |item|
              %tr
                %td{ colspan: '2'}
                  %center= item.room.name
                %td{ colspan: '1'}
                  %center= item.quantity
                %td{ colspan: '1'}
                  %center= number_to_currency(item.room.price, precision: 2, format: "%u %n", unit: "Bs.")
          %tr
            %th{ colspan: '3', style: "background:#A7A7A7;"}
              %center Total por noche
            %th{ colspan: '1' }
              %center= number_to_currency(@reservacion.total_price_for_night, precision: 2, format: "%u %n", unit: "Bs.")

          %tr{style: "background:#A7A7A7;"}
            %th{ colspan: '3' }
              %center Total por estadía (sin personas adicionales).
            %th{ colspan: '1' }
              %center= number_to_currency(@reservacion.price_total, precision: 2, format: "%u %n", unit: "Bs.")


    %div{style: "font-family: 'Lato', sans-serif; font-size: 14px;"}
      %p
        %br
        %strong Nota:
        %br
        %strong Los precios que se muestran son para ocupación de una (1) persona en habitación sencilla y (2) dos personas en habitación: estándar, doble y suite de luxe. Se hace recargo por cada persona adicional niño o adulto.
      %p
        Beneficios:
        %ul
          %li Acceso a Internet a través de red inalámbrica en la habitación y demás áreas del hotel.
          %li Desayuno no incluido.
          %li Estacionamiento privado.
          %li Servicio de Concierge (Servicio personalizado para los requerimientos de nuestros huéspedes).
          %li Ubicación estratégica.

      %p
        Políticas de Reserva:
        = @terms.description.html_safe
