!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      %p
        = @client_name
        ha solicitado una reservación.
    %p
      Para ver toda la solicitud ingresa a este
      = link_to @link do
        Link.
