.footer#footer
	.footer-email
		%center
			reservas@convencionhb.com
	.socials-row
		.social-icons
			.icon
				= link_to "https://www.facebook.com/convencionhb/" do
					%i.fa.fa-facebook
			.icon
				= link_to "https://twitter.com/convencionhb" do
					%i.fa.fa-twitter
			.icon
				= link_to "https://www.instagram.com/convencionhb" do
					%i.fa.fa-instagram
			.icon
				= link_to "https://www.pinterest.com/convencionhb/hotel-convenci%C3%B3n-boutique/" do
					%i.fa.fa-pinterest
			.icon
				= link_to "https://www.tripadvisor.com.ve/Hotel_Review-g316050-d7710858-Reviews-Convencion_Hotel_Boutique-Merida_Andean_Region.html" do
					%i.fa.fa-tripadvisor
	.contacts
		.row
			.col-lg-4
				= image_tag "frontend/Landing/logo-white.png", class: "contacts-brand"
				%br
				%br
			.col-lg-4
				.contacts-title
					Ubícanos
				%span Av. Aberto Carnevali. Edificio Hotel Convención Boutique.
				%span Sector Santa Ana. Vía La Hechicera. Mérida – Venezuela.
				%span Código Postal 5101.
				%span (+58 0414) 702 3988
				%span (+58 0274 ) 240 5311
				%br
				%br
			.col-lg-4
				.contacts-title
					Emails
				%span
					%b Reservas:
					reservas@convencionhb.com
				%span
					%b Eventos:
					eventos@convencionhb.com
				%span
					%b Ventas:
					ventas@convencionhb.com
				%span
					%b Operaciones:
					operaciones@convencionhb.com
				%span
					%b Administración:
					administracion@convencionhb.com
				%br
				%br

	.rights
		OPERADORA TURÍSTICA HOTEL CONVENCIÓN BOUTIQUE C.A. RIF: J-402890923 COPYRIGHT 2015
	.slice
		POWERED BY
		= link_to "http://www.slicegroup.xyz" do
			= image_tag 'frontend/slicegroup.png'
