%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Convención Hotel Boutique'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : '  '}"}
	%script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
	%meta{:content => "#000000", :name => "theme-color"}
	%meta{:content => "#000000", :name => "msapplication-navbutton-color"}
	%meta{:content => "#000000", :name => "apple-mobile-web-app-status-bar-style"}/
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true

	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	%link{:href => "http://fonts.googleapis.com/css?family=Oxygen:400,700", :rel => "stylesheet", :type => "text/css"}/

	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/favicon.png"
	= csrf_meta_tags
	:javascript
		WebFontConfig = {
			google: { families: [ 'Lato:400,900italic,900,700italic,400italic,700:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();