- unless @survey.errors[:base].empty?
	%div.alert.alert-danger.form-alert{ onclick: "hideFormAlert();" }
		%div
			Para continuar debe llenar correctamente el formulario.
			- @survey.errors[:base].each_with_index do |e,i|
				- if i <= 4
					%p{style: 'margin-bottom: 0;'}= "- #{e}"