.banner.banner-survey.center
  .banner-text ENCUESTA DE SATISFACCIÓN DEL HUÉSPED
#form-reservation

  - unless @survey.errors[:base].empty?
    %div.alert.alert-danger.form-alert{ onclick: "hideFormAlert();" }
      %div
        Para continuar debe llenar correctamente el formulario.
        - @survey.errors[:base].each_with_index do |e,i|
          - if i <= 4
            %p{style: 'margin-bottom: 0;'}= "- #{e}"

  - if @survey.errors.any?
    = render 'survey_fields'
  - else
    = render 'personal_data'


