.listing-show-header
	.actions
		- if can? :update, Survey
			= link_to edit_survey_path(@survey), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.insert_chart.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.ip")
			.display-value= @survey.ip
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @survey.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @survey.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.room")
			.display-value= @survey.room
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.checkin")
			.display-value= @survey.checkin
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.checkout")
			.display-value= @survey.checkout


:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
