%tr{ id: "row-#{survey.id}" }
	- if can? :destroy_multiple, Survey
		%td.item-check{style:"width: 10%"}
			= link_to "", survey_path(survey), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{survey.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{survey.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{survey.id}" }
	%td{style:"width: 30%"}
		= link_to "", survey_path(survey, search: @query), remote: true, class: "show-row"
		%span
			= survey.checkin
	%td{style:"width: 30%"}
		= link_to "", survey_path(survey, search: @query), remote: true, class: "show-row"
		%span
			= survey.checkout
	%td{style:"width: 30%"}
		= link_to "", survey_path(survey, search: @query), remote: true, class: "show-row"
		%span
			= survey.name
	%td{style:"width: 30%"}
		= link_to "", survey_path(survey, search: @query), remote: true, class: "show-row"
		%span
			%i.material-icons{ class: survey.status_color }= "sentiment_#{survey.status_icon}"
	%td{style:"width: 5%"}
		= link_to survey_path(survey), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")

