.title-form
  %a Otros datos
%p.info-text ¿Cómo nos ha conocido?
.row.survey-others-row
  .btn-group.survey-btn-group{"data-toggle" => "buttons", class: "#{ 'error' if errors && errors.messages.keys.include?(:met_by) }" }
    %center
      .col-lg-6.col-md-6.col-sm-10.col-xs-10
        %p.other-label.required Por recomendación
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        %label.btn.btn-surveys{ class: "#{ 'active' if f.object.met_by == 1 }" }
          %center
            %i.fa.fa-times
              = f.radio_button :met_by, 1
      .col-lg-6.col-md-6.col-sm-10.col-xs-10
        %p.other-label.required Reportaje en revista/periódico
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        %label.btn.btn-surveys{ class: "#{ 'active' if f.object.met_by == 2 }" }
          %center
            %i.fa.fa-times
              = f.radio_button :met_by, 2
      .col-lg-6.col-md-6.col-sm-10.col-xs-10
        %p.other-label.required Anuncio publicitario
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        %label.btn.btn-surveys{ class: "#{ 'active' if f.object.met_by == 3 }" }
          %center
            %i.fa.fa-times
              = f.radio_button :met_by, 3
      .col-lg-6.col-md-6.col-sm-10.col-xs-10
        %p.other-label.required Internet
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        %label.btn.btn-surveys{ class: "#{ 'active' if f.object.met_by == 4 }" }
          %center
            %i.fa.fa-times
              = f.radio_button :met_by, 4
      .col-lg-6.col-md-6.col-sm-10.col-xs-10
        %p.other-label.required Redes sociales
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        %label.btn.btn-surveys{ class: "#{ 'active' if f.object.met_by == 5 }" }
          %center
            %i.fa.fa-times
              = f.radio_button :met_by, 5
      .col-lg-6.col-md-6.col-sm-10.col-xs-10
        %p.other-label.required Agencia de viaje
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        %label.btn.btn-surveys{ class: "#{ 'active' if f.object.met_by == 6 }" }
          %center
            %i.fa.fa-times
              = f.radio_button :met_by, 6
