.info
  %p
    Su valoración nos será muy útil para mejorar nuestras instalaciones y el servicio que prestamos. Por favor, dedique 5 minutos para completar esta encuesta
  %p Muchas gracias de antemano por su colaboración.

= simple_form_for @survey, url: validate_survey_path, html: {class: 'validate-survey'}, remote: true do |f|
  .title-form
    %a Información General
  %p.info-text Favor llenar los datos para poder validarlo.
  .row
    .col-lg-5.col-md-5.col-sm-12.col-xs-12
      .field
        = f.input :name, label: false, :placeholder=> "NOMBRE Y APELLIDO"

    .col-lg-5.col-md-4.col-sm-8.col-xs-12
      .field
        = f.input :email, label: false, :placeholder=> "EMAIL"

    .col-lg-2.col-md-3.col-sm-4.col-xs-12
      .field
        = f.input :room, label: false, :placeholder=> "N° HABITACIÓN"
    %br

  .form-actions
    = f.button :submit, "VALIDAR", class: "btn btn-save btn-validate", id: "btn-submit" , style: "width: auto;", controller: "surveys", action: "validate", disabled: true
    %center
      %i.fa.fa-circle-o-notch.fa-spin.fa-3x.fa-fw{style: "color: #e2001a"}

:javascript
  $( ".fa-fw" ).hide();

  $( "#btn-submit" ).click(function() {
    $( "#btn-submit").hide();
    $( ".fa-fw" ).show();
  });