- build_tables.each do |category|
  .title-form
    %a= category.first
  %p.info-text Por favor, díganos su grado de satisfacción con los siguientes aspectos:
  .col-lg-8.col-md-8.col-sm-4.col-xs-4.survey-info
    .col-lg-3.col-md-3.hidden-sm.hidden-xs
      %center Excelente
    .col-lg-3.col-md-3.hidden-sm.hidden-xs
      %center Bien
    .col-lg-3.col-md-3.hidden-sm.hidden-xs
      %center Regular
    .col-lg-3.col-md-3.hidden-sm.hidden-xs
      %center Malo
    .hidden-lg.hidden-md.col-sm-3.col-xs-3
      %center 4
    .hidden-lg.hidden-md.col-sm-3.col-xs-3
      %center 3
    .hidden-lg.hidden-md.col-sm-3.col-xs-3
      %center 2
    .hidden-lg.hidden-md.col-sm-3.col-xs-3
      %center 1
  .row
    - category.last.each do |attribute|
      .btn-group.survey-btn-group{"data-toggle" => "buttons"}
        %center
          - if attribute.eql?('facilities_other')
            .col-lg-4.col-md-4.col-sm-8.col-xs-8.other-col
              .col-lg-4.col-md-4.col-sm-5.col-xs-5
                %p Otros
              .col-lg-8.col-md-8.col-sm-7.col-xs-7
                = text_field_tag 'survey[facilities_other]', '', placeholder: '(Ingrese otra instalación)'
          -else
            .col-lg-4.col-md-4.col-sm-8.col-xs-8
              %p{ class: "#{ 'required' if important_attributes.include?(attribute) } #{ 'error' if errors && errors.messages.keys.include?(attribute.to_sym) }" }
                = t("model.survey.attributes.#{attribute}")
          .col-lg-2.col-md-2.col-sm-1.col-xs-1
            %label.btn.btn-surveys{ class: "#{ 'active' if f.object[attribute] == 4 }" }
              %center
                %i.fa.fa-times
                  = f.radio_button attribute.eql?('facilities_other') ? :facilities_other_value : attribute.to_sym, 4
          .col-lg-2.col-md-2.col-sm-1.col-xs-1
            %label.btn.btn-surveys{ class: "#{ 'active' if f.object[attribute] == 3 }" }
              %center
                %i.fa.fa-times
                  = f.radio_button attribute.eql?('facilities_other') ? :facilities_other_value : attribute.to_sym, 3
          .col-lg-2.col-md-2.col-sm-1.col-xs-1
            %label.btn.btn-surveys{ class: "#{ 'active' if f.object[attribute] == 2 }" }
              %center
                %i.fa.fa-times
                  = f.radio_button attribute.eql?('facilities_other') ? :facilities_other_value : attribute.to_sym, 2
          .col-lg-2.col-md-2.col-sm-1.col-xs-1
            %label.btn.btn-surveys{ class: "#{ 'active' if f.object[attribute] == 1 }" }
              %center
                %i.fa.fa-times
                  = f.radio_button attribute.eql?('facilities_other') ? :facilities_other_value : attribute.to_sym, 1
