%tr
  %th.category-title{ colspan: '6' } Otros datos: ¿Cómo nos ha conocido?
%tr
  %td{ colspan: '4' } Por recomendación
  %td{ colspan: '2' }
    - if survey.met_by == 1
      .i.material-icons close
%tr
  %td{ colspan: '4' } Reportaje en revista/periódico
  %td{ colspan: '2' }
    - if survey.met_by == 2
      .i.material-icons close
%tr
  %td{ colspan: '4' } Anuncio publicitario
  %td{ colspan: '2' }
    - if survey.met_by == 3
      .i.material-icons close
%tr
  %td{ colspan: '4' } Internet
  %td{ colspan: '2' }
    - if survey.met_by == 4
      .i.material-icons close
%tr
  %td{ colspan: '4' } Redes sociales
  %td{ colspan: '2' }
    - if survey.met_by == 5
      .i.material-icons close
%tr
  %td{ colspan: '4' } Agencia de viaje
  %td{ colspan: '2' }
    - if survey.met_by == 6
      .i.material-icons close
%tr
  %td.empty-td{ colspan: '6' }
