- if attribute.eql?('facilities_other')
	%tr
		%td{ colspan: '2' }= "Otro: #{survey.facilities_other}"
		%td{ colspan: '1' }
			- if survey.facilities_other_value == 4
				.i.material-icons close
		%td{ colspan: '1' }
			- if survey.facilities_other_value == 3
				.i.material-icons close
		%td{ colspan: '1' }
			- if survey.facilities_other_value == 2
				.i.material-icons close
		%td{ colspan: '1' }
			- if survey.facilities_other_value == 1
				.i.material-icons close
- else
	%tr
		%td{ colspan: '2' }= t("model.survey.attributes.#{attribute}")
		%td{ colspan: '1' }
			- if survey[attribute] == 4
				.i.material-icons close
		%td{ colspan: '1' }
			- if survey[attribute] == 3
				.i.material-icons close
		%td{ colspan: '1' }
			- if survey[attribute] == 2
				.i.material-icons close
		%td{ colspan: '1' }
			- if survey[attribute] == 1
				.i.material-icons close
