- if @already_answered.try(:any?)
  .title-form.already-answered
    %a Lo sentimos, solo puede contestar una encuesta cada 24 horas.

- else
  = simple_form_for @survey, url: create_survey_path do |f|
    .title-form
      %a Información General
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .field
          = f.input :name, label: false, :placeholder=> "NOMBRE Y APELLIDO", readonly: true

      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .field
          = f.input :email, label: false, :placeholder=> "EMAIL", readonly: true

      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .field
          = f.input :room, label: false, :placeholder=> "NUMERO DE HABITACIÓN", readonly: true

      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .field
          = f.input :checkin, as: :string, label: false, :placeholder=> "FECHA DE CHECK-IN", input_html: {class: "datepicker date_survey"}

      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .field
          = f.input :checkout, as: :string, label: false, :placeholder=> "FECHA DE CHECK-OUT", input_html: {class: "datepicker date_survey2"}

    = render 'radio_buttons', f: f, errors: @survey.errors || nil
    = render 'other_data_radio_buttons', f: f, errors: @survey.errors || nil

    .info
      %p
        %center Si tiene algún comentario adicional que no le hayamos preguntado, por favor, escríbalo aquí.
    .row
      = f.input :comment, label: false
    %br

    .form-actions
      = f.button :submit, "ENVIAR", class: "btn btn-save", id: "btn-submit" , style: "width: auto;", controller: "surveys", action: "create"

:javascript
  $('.date_survey2').datepicker({
    dayViewHeaderFormat: 'YYYY',
    format: 'yyyy-mm-dd',
    endDate: 'm',
    autoclose: 'true',
    todayBtn: 'linked',
    language: 'es'
  });

  $('.date_survey').datepicker({
    dayViewHeaderFormat: 'YYYY',
    format: 'yyyy-mm-dd',
    autoclose: 'true',
    endDate: '-1d',
    todayBtn: false,
    language: 'es'
  });


