= title "Encuesta - Resultados"

= simple_form_for @survey, :url => search_surveys_range_days_surveys_path, :method => :get do |f|
	.row{style: "margin-top: 100px; width: 70%;"}
		.col.s12
			%h5 Búsqueda por fechas
		.col.s4
			= f.input :email, type: "date", label: false, input_html: {class: "datepicker", placeholder: "Check in", type: "date"}
		.col.s4
			= f.input :room, label: false, input_html: {class: "datepicker", placeholder: "Check out",  type: "date"}
		.col.s4
			= f.button :submit, "Buscar", class: "btn", style: "position: relative; top: 23px;"
		.divider

.row{:style => "width: 75%; margin: 120px auto 30px auto"}
	- if @result1.count < 1
		%center
			%h5 No hay encuentas en ese rango de fechas
	- else  
		#container2{:style => ""}
		#container3{:style => "margin-top: 15px;"}
		#container4{:style => "margin-top: 15px;"}
		#container5{:style => "margin-top: 15px;"}
		#container6{:style => "margin-top: 15px;"}


:javascript
	Highcharts.chart('container2', {
	      chart: {
	          type: 'bar'
	      },
	      title: {
	          text: 'Bienvenida'
	      },
	      xAxis: {
	          categories: ['Atención del personal', 'Profesionalidad en el check-in', 'Decoración y mobiliario', 'Servicio de Botones', 'Calidad de la información recibida'],
				},
	      plotOptions: {
	          bar: {
	              dataLabels: {
	                  enabled: true
	              }
	          }
	      },
	      legend: {
	          layout: 'vertical',
	          align: 'right',
	          verticalAlign: 'top',
	          x: -40,
	          y: 80,
	          floating: false,
	          borderWidth: 1,
	          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
	          shadow: true
	      },
	      credits: {
	          enabled: false
	      },
	      series: [{
	          name: 'Excelente',
	          data: [#{@welcome_attention_4}, #{@welcome_professionality_4}, #{@welcome_decoration_4}, #{@welcome_butler_4}, #{@welcome_info_quality_4}]
	      }, {
	          name: 'Bien',
	          data: [#{@welcome_attention_3}, #{@welcome_professionality_3}, #{@welcome_decoration_3}, #{@welcome_butler_3}, #{@welcome_info_quality_3}]
	      }, {
	          name: 'Regular',
	          data: [#{@welcome_attention_2}, #{@welcome_professionality_2}, #{@welcome_decoration_2}, #{@welcome_butler_2}, #{@welcome_info_quality_2}]
	      },  {
	          name: 'Malo',
	          data: [#{@welcome_attention_1}, #{@welcome_professionality_1}, #{@welcome_decoration_1}, #{@welcome_butler_1}, #{@welcome_info_quality_1}]
	      }]
	  });

	Highcharts.chart('container3', {
	      chart: {
	          type: 'bar'
	      },
	      title: {
	          text: 'Habitaciones'
	      },
	      xAxis: {
	          categories: ['Limpieza', 'Confort de la cama', 'Decoración y mobiliario', 'Calidad del aseo', 'Variedad de Canales de TV' , 'Insonoridad'],
	          title: {
	              text: null
	          }
	      },
	      plotOptions: {
	          bar: {
	              dataLabels: {
	                  enabled: true
	              }
	          }
	      },
	      legend: {
	          layout: 'vertical',
	          align: 'right',
	          verticalAlign: 'top',
	          x: -40,
	          y: 80,
	          floating: false,
	          borderWidth: 1,
	          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
	          shadow: true
	      },
	      credits: {
	          enabled: false
	      },
	      series: [{
	          name: 'Excelente',
	          data: [#{@room_cleaning_4}, #{@room_comfort_4}, #{@room_decoration_4}, #{@room_cleanliness_4}, #{@room_channels_4}, #{@room_soundless_4}]
	      }, {
	          name: 'Bien',
	          data: [#{@room_cleaning_3}, #{@room_comfort_3}, #{@room_decoration_3}, #{@room_cleanliness_3}, #{@room_channels_3}, #{@room_soundless_3}]
	      }, {
	          name: 'Regular',
	          data: [#{@room_cleaning_2}, #{@room_comfort_2}, #{@room_decoration_2}, #{@room_cleanliness_2}, #{@room_channels_2}, #{@room_soundless_2}]
	      },  {
	          name: 'Malo',
	          data: [#{@room_cleaning_1}, #{@room_comfort_1}, #{@room_decoration_1}, #{@room_cleanliness_1}, #{@room_channels_1}, #{@room_soundless_1}]
	      }]
	  });

	Highcharts.chart('container4', {
	      chart: {
	          type: 'bar'
	      },
	      title: {
	          text: 'Instalaciones'
	      },
	      xAxis: {
	          categories: ['Lobby'],
	          title: {
	              text: null
	          }
	      },
	      plotOptions: {
	          bar: {
	              dataLabels: {
	                  enabled: true
	              }
	          }
	      },
	      legend: {
	          layout: 'vertical',
	          align: 'right',
	          verticalAlign: 'top',
	          x: -40,
	          y: 80,
	          floating: false,
	          borderWidth: 1,
	          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
	          shadow: true
	      },
	      credits: {
	          enabled: false
	      },
	      series: [{
	          name: 'Excelente',
	          data: [#{@facilities_lobby_4}]
	      }, {
	          name: 'Bien',
	          data: [#{@facilities_lobby_3}]
	      }, {
	          name: 'Regular',
	          data: [#{@facilities_lobby_2}]
	      },  {
	          name: 'Malo',
	          data: [#{@facilities_lobby_1}]
	      }]
	  });

	Highcharts.chart('container5', {
	      chart: {
	          type: 'bar'
	      },
	      title: {
	          text: 'Personal del Hotel'
	      },
	      xAxis: {
	          categories: ['Profesionalidad', 'Simpatía', 'Rapidez del Servicio', 'Efectividad', 'Disponibilidad' , 'Limpieza General'],
	          title: {
	              text: null
	          }
	      },
	      plotOptions: {
	          bar: {
	              dataLabels: {
	                  enabled: true
	              }
	          }
	      },
	      legend: {
	          layout: 'vertical',
	          align: 'right',
	          verticalAlign: 'top',
	          x: -40,
	          y: 80,
	          floating: false,
	          borderWidth: 1,
	          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
	          shadow: true
	      },
	      credits: {
	          enabled: false
	      },
	      series: [{
	          name: 'Excelente',
	          data: [#{@staff_professionalism_4}, #{@staff_simpathy_4}, #{@staff_speed_4}, #{@staff_effectiveness_4}, #{@staff_availability_4}, #{@staff_cleanliness_4}]
	      }, {
	          name: 'Bien',
	          data: [#{@staff_professionalism_3}, #{@staff_simpathy_3}, #{@staff_speed_3}, #{@staff_effectiveness_3}, #{@staff_availability_3}, #{@staff_cleanliness_3}]
	      }, {
	          name: 'Regular',
	          data: [#{@staff_professionalism_2}, #{@staff_simpathy_2}, #{@staff_speed_2}, #{@staff_effectiveness_2}, #{@staff_availability_2}, #{@staff_cleanliness_2}]
	      },  {
	          name: 'Malo',
	          data: [#{@staff_professionalism_1}, #{@staff_simpathy_1}, #{@staff_speed_1}, #{@staff_effectiveness_1}, #{@staff_availability_1}, #{@staff_cleanliness_1}]
	      }]
	  });

	Highcharts.chart('container6', {
	      chart: {
	      		type: 'bar'
	      },
	      title: {
	          text: '¿Cómo nos ha conocido?'
	      },
	      xAxis: {
	          categories: ['Por recomendación', 'Reportaje en revista/periódico', 'Anuncio publicitario', 'Internet', 'Redes sociales' , 'Agencia de viaje'],
	          title: {
	              text: null
	          }
	      },
	      plotOptions: {
	          bar: {
	              dataLabels: {
	                  enabled: true
	              }
	          }
	      },
	      legend: {
	          layout: 'vertical',
	          align: 'right',
	          verticalAlign: 'top',
	          x: -40,
	          y: 80,
	          floating: false,
	          borderWidth: 1,
	          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
	          shadow: true
	      },
	      credits: {
	          enabled: false
	      },
	      series: [{
	          name: 'Puntos',
	          data: [#{@met_by_1}, #{@met_by_2}, #{@met_by_3}, #{@met_by_4}, #{@met_by_5}, #{@met_by_6}]
	      }]
	  });

	$('.datepicker').pickadate({
		selectMonths: true, // Creates a dropdown to control month
		selectYears: 15, // Creates a dropdown of 15 years to control year
		format: 'yyyy-mm-dd'
	});