!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "UTF-8" }
    %title Document
  %body{ style: "font-family: \"Open Sans\", sans-serif;" }
    %div
      %div{ style: "padding:10px; width: 97%; font-size: 14px; text-align: right; font-weight: 600;" }
        Fecha de Emisión:
        = l(@survey.created_at, :format => '%d/%b/%Y')
      %div{ style: "padding:10px; border: 1px solid #eee; width: 97%; height: 100px; position: relative;" }
        = wicked_pdf_image_tag 'frontend/Landing/logo_color.png', style: 'margin: 8px 10px;'
        %div{ style: 'border-left: 1px solid #eee; border-bottom: 1px solid #eee; width: 65%;height: 50%; position: absolute; right: 0; top: 0; text-align: right;'  }
          %strong{ style: 'display: block; font-size: 16px; margin-top: 10px; padding-right: 15px; font-weight: 400;'} SISTEMA DE CALIDAD
          %strong{ style: 'display: block; font-size: 16px; padding-right: 15px; font-weight: 400;'} GERENCIA GENERAL
        %div{ style: 'border-left: 1px solid #eee; width: 65%;height: 50%; position: absolute; right: 0; bottom: 0; text-align: right;'  }
          %strong{ style: 'display: block; font-size: 14px; margin-top: 5px; padding-right: 15px; font-weight: 400;'} ENCUESTA DE SATISFACCION HUÉSPED
          %strong{ style: 'display: block; font-size: 14px; padding-right: 15px; font-weight: 400;'} Código
          %strong{ style: 'display: block; font-size: 14px; padding-right: 15px; font-weight: 400;'} FO.GG.10
      %div
        %table{ style: "width:100%;border:none;border-collapse:collapse; margin-top: 20px;" }
          %tr
            %th{ colspan: '6', style: 'text-align: left; font-size: 20px; color: #f44336; padding: 5px 0;' } Datos personales
          %tr
            %th{ colspan: '2', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Nombre y Apellido
            %th{ colspan: '3', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Email
            %th{ colspan: '1', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } N° Habitación
          %tr{ style: 'font-size: 12 px;' }
            %td{ colspan: '2', style: 'border: 1px solid #eee;' }
              %center= @survey.name.blank? ? '-' : @survey.name
            %td{ colspan: '3', style: 'border: 1px solid #eee;' }
              %center= @survey.email.blank? ? '-' : @survey.email
            %td{ colspan: '1', style: 'border: 1px solid #eee;' }
              %center= @survey.room.blank? ? '-' : @survey.room
          - if @survey.checkin || @survey.checkout
            %tr
              %th{ colspan: '6', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' }
                = @survey.checks_label
            %t4{ style: 'font-size: 12 px;' }
              %td{ colspan: '6', style: 'border: 1px solid #eee;' }
                %center= @survey.checks
          %tr
            %td{ colspan: '6', style: 'background: white; border: none; height: 20px;' }

          - build_tables.each do |category|
            %tr
              %th{ colspan: '6', style: 'text-align: left; font-size: 20px; color: #f44336;' }= category.first
            %tr
              %th{ colspan: '2' }
              %th{ colspan: '1' } Excelente
              %th{ colspan: '1' } Bien
              %th{ colspan: '1' } Regular
              %th{ colspan: '1' } Malo
            - category.last.each do |attr|
              - if attr.eql?('facilities_other')
                %tr
                  %td{ colspan: '2', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' }= "Otro: #{@survey.facilities_other}"
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey.facilities_other_value == 4
                      %center X
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey.facilities_other_value == 3
                      %center X
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey.facilities_other_value == 2
                      %center X
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey.facilities_other_value == 1
                      %center X
              - else
                %tr
                  %td{ colspan: '2', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' }= t("model.survey.attributes.#{attr}")
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey[attr] == 4
                      %center X
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey[attr] == 3
                      %center X
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey[attr] == 2
                      %center X
                  %td{ colspan: '1', style: 'border: 1px solid #eee;' }
                    - if @survey[attr] == 1
                      %center X
            %tr
              %td{ colspan: '6', style: 'background: white; border: none; height: 20px;' }
          %tr
            %th{ colspan: '6', style: 'text-align: left; font-size: 20px; color: #f44336; padding: 5px 0;' } Otros datos: ¿Cómo nos ha conocido?
          %tr
            %td{ colspan: '5', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Por recomendación
            %td{ colspan: '1', style: 'border: 1px solid #eee;' }
              - if @survey.met_by == 1
                %center X
          %tr
            %td{ colspan: '5', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Reportaje en revista/periódico
            %td{ colspan: '1', style: 'border: 1px solid #eee;' }
              - if @survey.met_by == 2
                %center X
          %tr
            %td{ colspan: '5', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Anuncio publicitario
            %td{ colspan: '1', style: 'border: 1px solid #eee;' }
              - if @survey.met_by == 3
                %center X
          %tr
            %td{ colspan: '5', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Internet
            %td{ colspan: '1', style: 'border: 1px solid #eee;' }
              - if @survey.met_by == 4
                %center X
          %tr
            %td{ colspan: '5', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Redes sociales
            %td{ colspan: '1', style: 'border: 1px solid #eee;' }
              - if @survey.met_by == 5
                %center X
          %tr
            %td{ colspan: '5', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Agencia de viaje
            %td{ colspan: '1', style: 'border: 1px solid #eee;' }
              - if @survey.met_by == 6
                %center X
          %tr
            %td{ colspan: '6', style: 'background: white; border: none; height: 20px;' }

          - unless @survey.comment.blank?
            %tr
              %td{ colspan: '6', style: 'background: white; border: none; height: 60px;' }
            %tr
              %th{ colspan: '6', style: 'border: 1px solid #eee; padding: 3px 8px; text-align: center; background: #eee; border-radius: 0;' } Comentario
            %tr
              %td{ colspan: '6', style: 'border: 1px solid #eee; padding: 10px; text-align: center;' }= @survey.comment
