= title "Surveys | #{@survey.id}"
.wrapper
  .wrapper-body.container
    .actions
      - if can? :delete, Survey
        = link_to survey_path(@survey), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
          = material_icon.md_18.delete.css_class("md-dark")
      - if can? :update, Survey
        = link_to edit_survey_path(@survey), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
          = material_icon.md_18.create.css_class("md-dark")
      = link_to surveys_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
        = material_icon.md_18.arrow_back.css_class("md-dark")
      = link_to survey_path(@survey, format: 'pdf'), target: '_blank', class: "btn-floating btn-flat tooltipped right", "data-position" => "bottom", "data-tooltip" => "Descargar PDF" do
        = material_icon.md_18.picture_as_pdf.css_class("md-dark")
      = link_to survey_path(@survey, format: 'xlsx'), class: "btn-floating btn-flat tooltipped right", "data-position" => "bottom", "data-tooltip" => "Descargar xlsx" do
        = material_icon.md_18.file_download.css_class("md-dark")

    .panel-body#body-show.order-event-show
      .container
        %table.table.table-bordered
          %tr
            %th.category-title{ colspan: '6' } Datos personales
          %tr
            %th{ colspan: '3' } Nombre y Apellido
            %th{ colspan: '2' } Email
            %th{ colspan: '1' } N° Habitación
          %tr
            %td{ colspan: '3' }= @survey.name
            %td{ colspan: '2' }= @survey.email
            %td{ colspan: '1' }= @survey.room
          %tr
            %th{ colspan: '6' } Check-in / Check-out
          %tr
            %td{ colspan: '6' }= "#{@survey.checkin} / #{@survey.checkout}"
          %tr
            %td.empty-td{ colspan: '6' }

          - build_tables.each do |category|
            %tr
              %th.category-title{ colspan: '6' }= category.first
            %tr
              %th{ colspan: '2' }
              %th{ colspan: '1' } Excelente
              %th{ colspan: '1' } Bien
              %th{ colspan: '1' } Regular
              %th{ colspan: '1' } Malo
            - category.last.each do |attr|
              = render 'show_survey_row', survey: @survey, attribute: attr
            %tr
              %td.empty-td{ colspan: '6' }

          = render 'show_other_data', survey: @survey

          - unless @survey.comment.blank?
            %tr
              %th{ colspan: '6' } Comentario
            %tr
              %td{ colspan: '6' }= @survey.comment
