<% if @already_answered == 0 or @already_answered == 1 %>
	$('#form-reservation').append('<%= escape_javascript render 'errors_survey' %>');
	$( "#btn-submit").show();
    $( ".fa-fw" ).hide();

<% else %>
	$('#form-reservation').animate({opacity: 0}, 500, function() {
	  if('<%= @already_answered == 2 %>') {
	    $('#form-reservation').html('');
	  }
	  $('form.new_survey').remove();
	  $('#form-reservation').append('<%= escape_javascript render 'survey_fields' %>');
	});

	$('#form-reservation').animate({opacity: 1}, 500);

<% end %>
