.wrapper
	.wrapper-body.container
		.actions
			= link_to rooms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")

		.wrapper-inputs
			.card
				= simple_form_for @room do |f|
					.row
						= f.input :name
						= f.input :price
						= f.input :description, :as => :ckeditor, label: false, input_html: {:ckeditor => { :toolbar => 'mini'} ,class: "materialize-textarea"}
					- unless f.object.cover.to_s == ""
						.row{style: 'padding: 10px;'}
							.cover-img{style: "background-image: url(#{f.object.cover});"}
					.row
						= f.input :cover, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
					.row
						= f.simple_fields_for :images do |c|
							= render 'image_fields', :f => c
						.form-actions.right
							= link_to_add_association 'Añadir imagen', f, :images, class: "waves-effect waves-dark btn-flat", style: "margin-bottom:10px;"
							= f.button :submit, "Guardar", class: "btn"
