!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
  %body
    %h2{style: "font-family: 'Lato', sans-serif;"} Tu solicitud ha sido enviada, nos estaremos comunicando contigo.
    %div{style: "font-family: 'Lato', sans-serif;"}
      %div{style: "background:#A7A7A7;padding:10px;"}
        %h1{style: "color:#e2001a;text-align:center;"} Convención Hotel Boutique
      %div{style: "background:#e7e7e7;padding:5px;padding-left:10px;"}
        %h2{style: "color:#e2001a;"} Datos de registro de Eventos
      %div
        %table{border: "1", style: "width:100%;border:1px solid #A7A7A7;border-collapse:collapse;"}
          %tr{style: "background:#A7A7A7;"}
            %th Nombre
            %th Cedula/rif
            %th Empresa
            %th Particular
            %th Agency
            %th Email
          %tr
            %td{style: "padding-left: 10px;"}= @evento.client.name.humanize
            %td{style: "padding-left: 10px;"}= @evento.client.documentation
            %td{style: "padding-left: 10px;"}= @evento.client.company.humanize
            %td{style: "padding-left: 10px;"}= @evento.client.particular
            %td{style: "padding-left: 10px;"}= @evento.client.agency
            %td{style: "padding-left: 10px;"}= @evento.client.email.downcase

          %tr{style: "background:#A7A7A7;"}
            %th Teléfono
            %th Ciudad
            %th Pais
            %th Fecha de Solicitud
          %tr
            %td{style: "padding-left: 10px;"}= @evento.client.telephone
            %td{style: "padding-left: 10px;"}= @evento.client.city.humanize
            %td{style: "padding-left: 10px;"}= @evento.client.country.humanize
            %td{style: "padding-left: 10px;"}= @evento.date_event

          %tr{style: "background:#A7A7A7;"}
            %th{colspan: "3"} Tipo de Evento
            %th{colspan: "3"} Colores/motivo
          %tr
            %td{colspan: "3", style: "padding-left: 10px;"}= @evento.event_type.humanize
            %td{colspan: "3", style: "padding-left: 10px;"}= @evento.color_theme.humanize
          %tr{style: "background:#A7A7A7;"}
            %th N° de Invitados
            %th Fecha de Inicio
            %th Fecha de Culminación
            %th Hora de Inicio
            %th Hora de Culminación
            %th Tipo de Montaje
          %tr
            %td{style: "padding-left: 10px;"}= "#{@evento.quantity} Personas"
            %td{style: "padding-left: 10px;"}= @evento.begin_date
            %td{style: "padding-left: 10px;"}= @evento.end_date
            %td{style: "padding-left: 10px;"}= @evento.begin_time
            %td{style: "padding-left: 10px;"}= @evento.end_time
            %td{style: "padding-left: 10px;"}= @evento.assembly_type
          %tr{style: "background:#A7A7A7;"}
            %th{colspan: "6"} Descripción del Evento
          %tr
            %td{colspan: "6", style: "text-align: center;"}= @evento.blank(@evento.event_description)
          %tr{style: "background:#A7A7A7;"}
            %th{colspan: "6"} Alimentos & Bebidas
          %tr{style: "background:#A7A7A7;"}
            %th Pasapalos Fríos
            %th Pasapalos Caliente
            %th Menú Plateado
            %th Estaciones Temáticas
            %th Tipo Buffet
            %th Coffee Break Matutino
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.cold_snacks)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.hot_snacks)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.dish_menu)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.theme_stations)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.buffet_type)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.morning_coffeebreak)
          %tr{style: "background:#A7A7A7;"}
            %th Coffee Break Vespertino
            %th Mesa de Quesos
            %th Descorche de Cocteles
            %th Descorche de Whisky
            %th Descorche de Vino/Champagne
            %th Descorche de Vodka/Ron
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.evening_coffeebreak)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.cheese_table)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.uncorking_coctels)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.uncorking_whisky)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.uncorking_wine)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.uncorking_vodka)
          %tr{style: "background:#A7A7A7;"}
            %th Barra Coctelera
            %th Refrescos
            %th Estación de Café
            %th Estación de Hidratación
            %th Buffet de Desayuno
            %th Buffet de Almuerzo
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.coctel_bar)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.sodas)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.coffee_station)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.hidra_station)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.buffet_breakfast)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.buffet_lunch)

          %tr{style: "background:#A7A7A7;"}
            %th Buffet de Cena
            %th Menú Cerrado de Almuerzo
            %th Menú Cerrado de Cena
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.buffet_dinner)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.close_lunch)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.close_dinner)

          %tr{style: "background:#A7A7A7;"}
            %th{colspan:"6"} Descripción de la tematica
          %tr
            %td{colspan:"6", style: "padding-left: 10px;"}
              %center= @evento.theme_description

          %tr{style: "background:#A7A7A7;"}
            %th{colspan: "6"} Descoración del Evento
          %tr{style: "background:#A7A7A7;"}
            %th Arreglos Florales
            %th Globos
            %th Toldo
            %th Sonido
            %th Dj
            %th Grupo Musical
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.flower_arrengements)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.baloons)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.toldo)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.sound)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.dj)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.musical_group)
          %tr{style: "background:#A7A7A7;"}
            %th Podium
            %th Videobeam
            %th Iluminación
            %th Inflables
            %th Show de Magia
            %th Show de Baile
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.podium)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.videobeam)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.lights)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.inflatable)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.magic_show)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.dance_show)
          %tr{style: "background:#A7A7A7;"}
            %th Hora Loca
            %th Mesa Redonda
            %th Mesa Cuadrada
            %th Mesón Presidio
            %th Micrófono Alámbrico
            %th Micrófono Inalámbrico
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.crazy_hour)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.circle_table)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.square_table)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.big_table)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.wire_micro)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.wireless_micro)

          %tr{style: "background:#A7A7A7;"}
            %th Pantalla de Proyección
            %th Portafolio
            %th Laptop
            %th Tarima
          %tr
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.screen_display)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.porfolio)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.laptop)
            %td{style: "padding-left: 10px;"}
              %center= @evento.chosen(@evento.tarima)

          %tr{style: "background:#A7A7A7;"}
            %th{colspan: "6"} Otros Servicios
          %tr
            %td{colspan: "6", style: "text-align: center;padding-left: 10px;"}= @evento.other_services
          %tr{style: "background:#A7A7A7;"}
            %th{colspan: "6"} Observaciones Adicionales
          %tr
            %td{colspan: "6", style: "text-align: center;padding-left: 10px;"}= @evento.observations

    %div{style: "font-family: 'Lato', sans-serif; font-size: 14px;"}

      %p
        Políticas de Reserva:
        = @terms.description.html_safe
