//Hoja de estilos generado por Keppler.
#aliances{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  .aliances-title{
    color: #58554e;
    font-size: 40px;
    border-bottom: 4px solid #e2001a;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    padding-right: 20px;
    text-decoration: none;
    width: 36%;
    margin-bottom: 50px;

    @media #{$tablet}{
      width: 80%;
    }

    @media #{$phone}{
      font-size: 26px;
      width: 80%;
    }
  }

  .aliance-item {
    height: 200px;
  }
}
