.events {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: black;
	font-weight: 400;
	font-style: italic;
	justify-content: center;
	text-align: center;
	padding: 30px;
	padding-bottom: 15px;
	padding-top: 60px;
	width: 65%;
  margin: auto;
	li {
		display: block;
		margin-top: 30px;
		a {
			padding: 15px 50px;
			border: 3px solid #e2001a;
			color: black;
			font-size: 16px;
			font-weight: 700;
			text-decoration: none;
			@include transition (0.5s);
		}
	}
	a:hover {
		color: white;
		background: #e2001a;
	}
}
.banner-events{
	background: image-url('frontend/Landing/final.jpg') no-repeat;
	background-size: cover;
	background-position: 50%;
	height: 250px;
	width: 100%;
	margin-top: 150px;

}

.contacts-title {
	font-size: 3rem;
	margin-bottom: 2rem;
	font-weight: bold;
}

.contacts-brand {
	width: 46%;
	margin-top: 4.5rem;
}

#contact{
	margin-top: 50px;
	width: 80%;
	margin-left: 10%;
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	@media #{$phone}{
		width: 96%;
		margin-left: 2%;
		font-size: 14px;
	}
	@media #{$phone-landscape}{
		width: 96%;
		margin-left: 2%;
		font-size: 14px;
	}
	span{
		padding-left: 5px;
		font-weight: normal;
	}
	.socials{
		margin: 0;
		font-size: 40px;
		border-radius: 50%;
		color: white;
		width: 70px;
		height: 70px;
		padding: 15px;
		@media #{$phone}{
			width: 50px;
			height: 50px;
			padding: 10px;
			font-size: 30px;
		}
		@media #{$tablet-portrait}{
			width: 50px;
			height: 50px;
			padding: 10px;
			font-size: 30px;
		}
	}
	#instagram{
		background-color: rgb(82, 126, 163);
	}
	#twitter{
		background-color: rgb(46, 170, 224);
	}
	#facebook{
		background-color: rgb(60, 91, 155);
	}
	#tripadvisor{
		background-color: rgb(97, 160, 73);
		padding:5px;
		width: 70px;
		max-width: 150%;
		@media #{$phone}{
			width: 50px;
		}
	}

}
.icons{
	@media #{$phone}{
		position: absolute;
		top: 220px;
		left: 0;
	}
	@media #{$phone-landscape}{
		position: absolute;
		top: 220px;
		left: 0;
	}
}
