// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, main{
	height: 100%;
	font-family: "Roboto", sans-serif;
}

.banner-close {
	position: absolute;
  right: 0;
  background: #ffffff !important;
  padding: 10px !important;
}

.front{
	.front-container{
		height: 100%;
		.front-logo-horizontal{
			display: flex;
			justify-content: center;
			height: 100%;
			.front-logo-vertical{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

.separator{
	margin-bottom: 20px;
	color: black;
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	width: auto;

	@media #{$phone}{
		width: 90%;
		margin-left: 5%;
	}
	@media #{$tablet-portrait}{
		width: 90%;
		margin-left: 5%;
	}
}
.btn-tripadvisor{
	font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 150px;
  border: none;
  background: #e2001a;
  color: white;
  padding: 11px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  border: 2px solid #e2001a;
  @include transition (0.5s);
}
.btn-tripadvisor:hover{
	background: transparent;
}
